<app-navigation></app-navigation>
<h2>Books</h2>
    <img src='https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781668055960/it-ends-with-us-9781668055960_hr.jpg' height="300px" class="clickable"
    (click)="onImageClick1()">
    <p> 100$ </p> 
    <button (click)='book1()'> Add to cart </button>
    <br>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFnQP0FJ1RbQ5kp-8HXHORPjy1yXoBs9qAKQ&s' class="clickable"
    (click)="onImageClick2()">
    <p> 50$ </p> 
    <button (click)="book2()"> Add to cart </button> 
    