<app-navigation></app-navigation>
<h2>Apperal</h2>
    <img src='https://mahezon.in/cdn/shop/files/IMG-20241126-WA0674_800x1026_crop_center@2x.jpg?v=1732617734' height=300px class="clickable"
  (click)="onImageClickw()">
    <p> 20$ </p> 
    <button (click)='addWomenCart()'> add to cart </button>
    <br>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJxSVe4PxUiAeKNagh2mSeJFjrOuDK8iZf6g&s' heigh= 300px class="clickable"
    (click)="onImageClick()">
    <p> 40$ </p> 
    <button (click)='addMenCart()'> add to cart </button>